<div class="item item-divider item-input-inset" ng-show="display.searchPanel">
	<label class="item-input-wrapper">
		<i class="icon ion-ios-search placeholder-icon"></i>
		<input type="search" placeholder="{{'SEARCH' | translate}}" ng-model="filter" autofocus>
	</label>
	<button class="button-clear" ng-click="display.searchPanel=!display.searchPanel; filter=''" translate>
		CANCEL
	</button>
</div>