<ion-view view-title="{{'SETTINGS' | translate}}">
  <ion-content>
    <ion-list>
      <ion-item ng-click="show.languagePicker()">
        <span translate>LANGUAGE</span>
        <span class="item-note">{{'LANG_NAME' | translate}}</span>
      </ion-item>
	    <div class="item item-divider">
	       Info
      </div>
      <ion-item translate>
      	VERSION
      	<span class="item-note" ng-bind="settings.appVersion"></span>
      </ion-item>
      <ion-item ng-click="show.changelog()" translate>
      	CHANGELOG
      </ion-item>
      <div class="item item-divider">
         Debug tools
      </div>
      <ion-item ng-click="debug.seedDB()">
        Seed database
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
