<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-bottom tabs-color-active-positive">

  <!-- Chats Tab -->
  <ion-tab title="{{'SHOPPING_LISTS' | translate}}" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{'PRODUCTS' | translate}}" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/product">
    <ion-nav-view name="tab-product"></ion-nav-view>
  </ion-tab>

  <!-- <ion-tab title="{{'shops' | translate}}" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/shop">
    <ion-nav-view name="tab-shop"></ion-nav-view>
  </ion-tab> -->

  <!--   <ion-tab title="Archive" icon-off="ion-ios-box-outline" icon-on="ion-ios-box" href="#/tab/oldlists">
    <ion-nav-view name="tab-oldlist"></ion-nav-view>
  </ion-tab> -->

  <!-- Account Tab -->
  <ion-tab title="{{'SETTINGS' | translate}}" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
