<ion-view view-title="{{item.title}}" cache-view="false">
  <ion-nav-title ng-click="edit.title()">
    {{item.title}}
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="customBackButton()"></button>
    <button class="button button-icon icon ion-ios-search" ng-click="show.searchPanel=true; try.closeOptions()"
            ng-class="{ highlight: show.searchPanel }">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-navicon" ng-click="show.menu()" ng-hide="show.sideMenu()"></button>
    <button class="button button-icon icon ion-android-close" ng-click="show.menu()" ng-show="show.sideMenu()"></button>
  </ion-nav-buttons>
  <ion-content on-swipe-right="swipe('right')">
    <div class="button-stable card" ng-show="item.note && !selected.note">
      <div class="item item-text-wrap" ng-click="edit.note.try()" ng-hide="selected.note">
        <label class="label">{{'NOTES' | translate}}:</label>
        {{item.note}}
      </div>
    </div>
    <div class="padding" ng-show="!item.note && !selected.note">
      <button class="button button-block button-positive" ng-click="edit.note.try()" translate>ADD_NOTES</button>
    </div>
    <div class="button-stable card" ng-show="selected.note">
      <div class="item" style="padding: 0" ng-show="selected.note">
        <label class="item item-input">
          <textarea style="height: 50vh; width: 100%; padding: .7em 1.2em;" placeholder="{{'NOTES' | translate}}"
                    ng-model="item.note"></textarea>
        </label>
        <div class="button-bar" style="padding: 16px">
          <a class="button button-positive" ng-click="edit.note.confirm()" translate>SAVE</a>
          <a class="button button-assertive" ng-click="edit.note.cancel()" translate>CANCEL</a>
        </div>
      </div>
    </div>
  </ion-content>
  <!--<ion-content class="padding">-->
  <!--<ion-side-menus>-->
  <!--<ion-side-menu-content>-->

  <!--<search-panel display="show" filter="searchPanelInputBox"></search-panel>-->

  <!--<ion-list>-->
  <!--<ion-item ng-repeat="item in sublists | filter: {title:searchPanelInputBox} | orderBy: '-updateDate'"-->
  <!--item="item"-->
  <!--class="item-remove-animate items lists"-->
  <!--ng-click="try.edit(item)">-->
  <!--<ion-option-button class="label" disabled>-->
  <!--{{item.title}}-->
  <!--</ion-option-button>-->
  <!--<ion-option-button class="button-assertive static-button ion-trash-a"-->
  <!--ng-click="try.delete(item)"></ion-option-button>-->
  <!--<ion-option-button class="button-stable static-button ion-ios-box"-->
  <!--ng-click="try.archive(item)"></ion-option-button>-->
  <!--<ion-option-button class="button-stable static-button ion-edit custom-edit-clean-button"-->
  <!--ng-click="try.edit(item)"></ion-option-button>-->
  <!--{{item.title}}-->
  <!--<span class="item-note">{{item.updateDate | dateFromNow}}</span>-->
  <!--</ion-item>-->
  <!--</ion-list>-->
  <!--<div class="card" ng-hide="sublists.length">-->
  <!--<div class="item item-text-wrap" translate>-->
  <!--NO_LISTS_INFO-->
  <!--</div>-->
  <!--</div>-->
  <!--<div ng-hide="sublists.length">-->
  <!--<button class="button button-block button-positive" ng-click="try.add()" translate>ADD</button>-->
  <!--</div>-->
  <!--</ion-side-menu-content>-->
  <!--<ion-side-menu side="right">-->
  <!--<ion-list>-->
  <!--<ion-item ng-click="try.add()" translate>-->
  <!--ADD-->
  <!--</ion-item>-->
  <!--<ion-item ng-click="try.archiveMany()" translate>-->
  <!--ARCHIVE_MANY-->
  <!--</ion-item>-->
  <!--<ion-item ng-click="try.deleteMany()" translate>-->
  <!--DELETE_MANY-->
  <!--</ion-item>-->
  <!--</ion-list>-->
  <!--</ion-side-menu>-->

  <!--</ion-side-menus>-->
  <!--</ion-content>-->
</ion-view>
