<ion-view view-title="{{item.title}}" cache-view="false">
	<ion-nav-title ng-click="edit.title()">
		{{item.title}}
  </ion-nav-title>
	<ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="customBackButton()"></button>
  </ion-nav-buttons>
	<ion-content on-swipe-right="swipe('right')">
		<div class="button-stable card" ng-show="item.note && !selected.note">
			<div class="item item-text-wrap" ng-click="edit.note.try()" ng-hide="selected.note">
				<label class="label">{{'NOTES' | translate}}:</label>
				{{item.note}}
			</div>
		</div>
		<div class="padding" ng-show="!item.note && !selected.note">
			<button class="button button-block button-positive" ng-click="edit.note.try()" translate>ADD_NOTES</button>
    </div>
		<div class="button-stable card" ng-show="selected.note">
			<div class="item" style="padding: 0" ng-show="selected.note">
				<label class="item item-input">
					<textarea style="height: 50vh; width: 100%; padding: .7em 1.2em;" placeholder="{{'NOTES' | translate}}" ng-model="item.note"></textarea>
				</label>
				<div class="button-bar" style="padding: 16px">
		      <a class="button button-positive" ng-click="edit.note.confirm()" translate>SAVE</a>
		      <a class="button button-assertive" ng-click="edit.note.cancel()" translate>CANCEL</a>
		    </div>
			</div>
		</div>
	</ion-content>
</ion-view>