<ion-view view-title="{{'LISTS' | translate}}">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-search" ng-click="show.searchPanel=true; try.closeOptions()"
            ng-class="{ highlight: show.searchPanel }">
    </button>
  </ion-nav-buttons>
  <!-- <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-navicon" ng-click="show.menu()" ng-hide="show.sideMenu()"></button>
    <button class="button button-icon icon ion-android-close" ng-click="show.menu()" ng-show="show.sideMenu()"></button>
  </ion-nav-buttons> -->
  <ion-content class="padding">
<!--     <ion-side-menus>
      <ion-side-menu-content> -->

        <search-panel display="show" filter="searchPanelInputBox"></search-panel>

        <ion-list>
          <ion-item ng-repeat="item in lists | filter: {title:searchPanelInputBox} | orderBy: '-updateDate'"
                    item="item"
                    class="item-remove-animate items lists"
                    ng-click="try.edit(item)">
            <ion-option-button class="label" disabled>
              {{item.title}}
            </ion-option-button>
            <ion-option-button class="button-assertive static-button ion-trash-a"
                               ng-click="try.delete(item)"></ion-option-button>
            <ion-option-button class="button-stable static-button ion-ios-box"
                               ng-click="try.archive(item)"></ion-option-button>
            <ion-option-button class="button-stable static-button ion-edit custom-edit-clean-button"
                               ng-click="try.edit(item)"></ion-option-button>
            {{item.title}}
            <span class="item-note">{{item.updateDate | dateFromNow}}</span>
          </ion-item>
        </ion-list>
        <div class="card" ng-hide="lists.length">
          <div class="item item-text-wrap" translate>
            NO_LISTS_INFO
          </div>
        </div>
        <div ng-hide="lists.length">
          <button class="button button-block button-positive" ng-click="try.add()" translate>ADD</button>
        </div>
<!--       </ion-side-menu-content>
      <ion-side-menu side="right">
        <ion-list>
          <ion-item ng-click="try.add()" translate>
            ADD
          </ion-item>
          <ion-item ng-click="try.archiveMany()" translate>
            ARCHIVE_MANY
          </ion-item>
          <ion-item ng-click="try.deleteMany()" translate>
            DELETE_MANY
          </ion-item>
        </ion-list>
      </ion-side-menu>

    </ion-side-menus> -->
  </ion-content>
</ion-view>
