<ion-popover-view class="image-popover">
	<ion-content ng-click="popover.hide()">
		<img ng-src={{currentItem.photo}}>
		<div class="padding">
			<h3>{{currentItem.title}}</h3>
			<div style="display: flex; align-items: center; justify-content: space-between">
			<ul>
				<li ng-repeat="param in currentItem.params">{{param}}</li>
			</ul>
			<h5 style="margin-left: 1em; text-align: right; font-weight: bold">{{currentItem.description}}</h5>
			</div>
		</div>
	</ion-content>
</ion-popover-view>