<ion-view view-title="{{'ADD_PRODUCT' | translate}}">
  <ion-content on-swipe-right="swipe('right')">
    <div class="product">
      <label class="item item-input">
        <input type="text" placeholder="{{'TITLE' | translate}}" ng-model="item.title" required>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="{{'PRICE' | translate}}" ng-model="item.price" required>
      </label>
      <label class="item item-input">
        <textarea placeholder="{{'DESCRIPTION' | translate}}" rows="6" style="height: 50vh" ng-model="item.note"></textarea>
      </label>

    </div>
    <div class="button-bar" style="padding: 16px">
      <a class="button button-positive" ng-click="confirmOperation()" translate>SAVE</a>
      <a class="button button-assertive" ng-click="cancelOperation()" translate>CANCEL</a>
    </div>
  </ion-content>
</ion-view>
