<ion-popover-view style="height: 165px">
	<ion-content><!--ng-click="popover.hide()"-->
		<ion-list>
      <ion-item ng-click="try.edit(currentItem)" translate>
        EDIT
      </ion-item>
      <ion-item ng-click="try.archive(currentItem)" translate>
        ARCHIVE
      </ion-item>
      <ion-item ng-click="try.delete(currentItem)" translate>
        DELETE
      </ion-item>
     </ion-list>
	</ion-content>
</ion-popover-view>