<ion-view view-title="{{'SELECT_TO_ARCHIVE' | translate}}">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-checkmark-circle" ng-click="confirmOperation()">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-android-close" ng-click="cancelOperation()">
    </button>
  </ion-nav-buttons>
  <ion-content class="padding" on-swipe-right="swipe('right')">
    <ion-list>
      <ion-item ng-repeat="item in products | orderBy: '-updateDate'"
                item="item"
                class="item-remove-animate"
                ng-click="itemClick(item)"
                ng-class="{'calm-bg': item.toArchive}">
        {{item.title}}
          <span class="item-note">
            <input type="checkbox" class="checkbox" ng-model="item.toArchive">
            <label ng-class="{ 'ion-ios-checkmark-outline': !item.toArchive, 'ion-ios-checkmark': item.toArchive }"></label>
          </span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
