<ion-view view-title="{{'PRODUCTS' | translate}}">

  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-search" ng-click="show.searchPanel=true; try.closeOptions()"
            ng-class="{ highlight: show.searchPanel }">
    </button>
  </ion-nav-buttons>
  <!-- <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-navicon" ng-click="show.menu()"></button>
  </ion-nav-buttons> -->

  <ion-content class="padding">
   <!--  <ion-side-menus>
      <ion-side-menu-content> -->
        <search-panel display="show" filter="searchPanelInputBox"></search-panel>

        <ion-list>
          <ion-item ng-repeat="item in products | filter: {title:searchPanelInputBox} | orderBy: 'title'"
                    item="item"
                    class="item-remove-animate items item-thumbnail-left"
                    ng-class="{ thumbnail: !item.isSelected }">
            <ion-option-button class="label" disabled>
              {{item.title}}
            </ion-option-button>
            <ion-option-button class="button-assertive static-button ion-trash-a"
                               ng-click="try.delete(item)"
                               style="max-height: 32px !important"></ion-option-button>
            <ion-option-button class="button-stable static-button ion-ios-box"
                               ng-click="try.archive(item)"
                               style="max-height: 32px !important; border-bottom: 1px solid #ddd;"></ion-option-button>
            <ion-option-button class="button-stable static-button ion-edit custom-edit-clean-button"
                               ng-click="try.edit(item)"
                               style="max-height: 32px !important"></ion-option-button>

            <img ng-src="{{item.photo}}" ng-click="show.image($event,item)">
          <span class="item-note">
            <span class="ion-android-more-vertical"
                  style="padding: 0 10px; margin-right: -10px;"
                  ng-click="show.itemOptions($event, item)"></span>
          </span>
          <span ng-click="itemClick(item)">
  		      <h2>{{item.title}}</h2>
  		      <p style="font-weight: bold">{{item.description}}</p>
            <p ng-show="item.isSelected">{{item.params[0]}}</p>
          </span>
          </ion-item>
        </ion-list>

        <div class="card" ng-hide="products.length">
          <div class="item item-text-wrap" translate>
            NO_PRODUCTS_INFO
          </div>
        </div>

        <div ng-hide="products.length">
          <button class="button button-block button-positive" ng-click="try.add()" translate>ADD</button>
        </div>

<!--       </ion-side-menu-content>
      <ion-side-menu side="right">
        <ion-list>
          <ion-item ng-click="try.add()" translate>
            ADD
          </ion-item>
          <ion-item ng-click="try.archiveMany()" translate>
            ARCHIVE_MANY
          </ion-item>
          <ion-item ng-click="try.deleteMany()" translate>
            DELETE_MANY
          </ion-item>
        </ion-list>
      </ion-side-menu>

    </ion-side-menus>
 -->  </ion-content>
</ion-view>
