.left {
  text-align: left;
}

.center,
.button.action-sheet-option,
.button.action-sheet-destructive {
  text-align: center !important;
}

.right {
  text-align: right !important;
  float: right;
}

label.label {
  font-weight: bold;
}

.small {
  font-size: .8em;
}

.text-muted {
  color: gray;
}

.items .item-options {
  width: 100%;
}

.items .item-options .label {
  width: 32%;
  opacity: 1 !important;
  background-color: transparent;
  padding-left: 16px;
}

.items .item-options .static-button {
  float: right !important;
  border-left: 1px solid #ddd;
}

.items. .item-options .button-assertive {
  border: 1px solid #e42112;
}

.items .item-options:after {
  clear: both;
}

.item-complex.lists .item-content {
  padding: 12px 16px;
}

.item.item-divider.item-input-inset {
  padding: 0;
  margin-bottom: .7em;
  border: 0;
}

.item.item-divider.item-input-inset input[type="search"] {
  width: 100%;
}

.button.highlight {
  background-color: #e5e5e5 !important;
}

.custom-edit-clean-button {
  background-color: transparent !important;
  border-left: none !important;
}

.checkbox {
  display: none;
}

.button-stable.card {
  background-color: #b2b2b2;
}

.button-stable.card .item {
  background-color: rgba(255,255,255,.8);
}

.item-thumbnail-left .item-content {
  padding-right: 16px !important;
}

.thumbnail {
  min-height: 55px !important;
}

.thumbnail .item-content {
  padding-left: 65px !important;
  min-height: 60px !important;
}

.thumbnail .item-content img {
  max-width: 45px !important;
  max-height: 45px !important;
}

/**
 * COLOR SECTION
 */
.light-bg {
  border-color: #ddd;
  background-color: #fff;
}

.stable-bg {
  border-color: #b2b2b2;
  background-color: #fff;
}

.positive-bg {
  border-color: #0c60ee;
  background-color: #fff;
}

.calm-bg {
  border-color: #11c1f3;
  background-color: #fff;
}

.balanced-bg {
  border-color: #28a54c;
  background-color: #fff;
}

.energized-bg {
  border-color: #e6b500;
  background-color: #fff;
}

.assertive-bg {
  border-color: #e42112;
  background-color: #fff;
}

.royal-bg {
  border-color: #6b46e5;
  background-color: #fff;
}

.dark-bg {
  border-color: #111;
  background-color: #fff;
}

/**
 * POPUP SECTION
 */
.warning .popup .popup-buttons .button {
  border-color: #e6b500;
  background-color: #ffc900;
  color: black;
}

/**
 * POPOVER SECTION
 */
.image-popover.popover[style] {
    top: 80px !important;
    width: calc(100% - 60px);
    height: calc(100% - 145px);
    left: 30px !important;
    max-width: 450px;
}

.image-popover.popover img {
    width: 100%;
}